<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/static/main.css'>
    
    {%if title%}
        <title>First Web-{{title}}</title>
    {%else%}
        <title>First Web</title>
    {%endif%}
    <style>
        ul{
        list-style-type: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        background-color:lightslategray;
      }
      li{
        float: left;
      }
      li a{
        display:block;
        color:mintcream;
        padding:10px;
        text-align: center;
        text-decoration:none;
      }
      li a:hover,.active{
          background-color: limegreen;
      }
      



    </style>
</head>
<body>
    
    <ul>
        {%if user.is_authenticated%}
        <li><a href='home'>Home</a></li>
            <li><a href='about'>About</a></li>
            <li><a href='notes'>Notes</a></li>
            <li><a href='gallery'>Gallery</a></li>
            <li><a href='cgpa'>CGPA</a></li>
            <li style='float:right'><a href='logout'>Logout</a></li>
            <li style='float:right'><a href='profile'>Profile</a></li>
        {%else%}
            <li><a href='login'>Login</a></li>
            <li><a href='register'>New register?</a></li>
        {%endif%}
        
    </ul>
    
    
    {%with messages=get_flashed_messages(with_categories=true)%}
    {%if messages%}
        {%for category,message in messages%}
            {%if category=='error'%}
                <div class='alert alert-danger alert dismissable fade show' role='alert'>
                    {{message}}
                    
                </div>
            {%elif category=='success'%}
                <div class='alert alert-success alert dismissable fade show' role='alert'>
                    {{message}}
                    
                </div>
                    
            {%endif%}
        {%endfor%}
    {%endif%}
    {%endwith%}
    
    
   
    {%block content%}
    
    {%endblock%}


</body>
</html>