{%extends 'layout.html'%}
{%block content%}
<form method='POST' action='/login'>
    <h3 style='text-align: center;'>Login</h3>
    
    <label for='email'>Email: </label>
    <input type="email" id='email' name='email' placeholder="Enter your mailid" ><br><br>
    <label for='password1'>Password: </label>
    <input type="password" id='password1' name='password1' placeholder="Enter your password" ><br><br>
    
    <br>
    <button type="submit" class='button'>Login</button>
</form>

{%endblock%}